<!DOCTYPE html>
<html>
<body>

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">கேரளா வயநாடு மக்கள் நிவாரண நிதி</h5>
                <p class="card-text">
                    அனைவருக்கும் வணக்கம் நமது கேரளா வயநாடு மக்கள் நிவாரண நிதி மற்றும் உணவு பொருள்கள் அளிக்க விருப்பம் உள்ளவர்கள் தகவல் தெருவிக்கவும் 
                    <br>நன்றி 
                    <br>அவர்கள் மீண்டு வர இறைவனை பிராத்திப்போம்
                </p>
                <p>தொடர்பு எண்: 9894407411</p>
                <p>
                    நிவாரண பொருட்கள் விபரம்
                    <ul>
                        <li>அரிசி</li>
                        <li>பருப்பு</li>
                        <li>ரவை</li>
                        <li>சர்க்கரை</li>
                        <li>பால் பவுடர்</li>
                        <li>உப்பு</li>
                        <li>கோதுமை மாவு</li>
                        <li>பிஸ்கட்</li>
                        <li>ராஸ்க்</li>
                        <li>சோப்பு</li>
                        <li>டெட்டால்</li>
                        <li>போர்வை</li>
                        <li>துண்டு</li>
                        <li>நாப்கின்</li>
                        <li>கொசு பத்தி</li>
                        <li>செருப்பு</li>
                        <li>உடை</li>
                      </ul>
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <img class="card-img-bottom img-fluid" src="{% static 'app/IMG_DRONE_Wayand.jpg' %}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

</body>
</html>